:root {
    --glow: #e3b496;
}
/* old color e5a2e9 */

/* not used on hostgator */
html, body {
    min-height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstPage {
    background: white;
    min-width: 100vw;
    min-height: 100vh;
}
/*  */

/* MODAL */
.modal-overlay {
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /* background-color: rgba(57, 32, 32, 0.5); */
    background-color: rgba(92, 49, 49, 0.7);
    vertical-align: middle;
}

.modal-content {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 150px;
    border-radius: 8px;
    background: #e3b496;
    box-shadow: 0 0 10px rgba(52, 52, 52, 0.5);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 28%;
    border-radius: 8px 8px 0 0;
    background: #f2efe7;
    margin: 0;
    padding: 0 15px 0 20px;
}

.header button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 1.5s ease-out;
}

.header button:hover {
    background: rgba(52, 52, 52, 0.5);
    transition: background .5s ease-out;
}

.consultation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 72%;
    margin: 0;
    text-align: center;
}

.consultation h1 {
    margin: 0;
    width: 100%;
}

.consultation h1 button {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #f2efe7;
    border-radius: 6px;
    border: 0;
    background: none;
    box-shadow: none;
    width: 50%;
    height: 35px;
    margin-top: 15px;
    background: rgb(52, 52, 52);
    cursor: pointer;
    transition: 1.5s ease-out;
}

.consultation h1 button:hover {
    opacity: 0.7;
    transition: opacity .5s ease-out;
}
/* */

/* BODY PAGE */
/* body image */
.bodyPage {
    position: relative;
    text-align: center;
    margin: 20px;
}

.bodyImg {
    width: 600px;
}

/* main text */
.bodyText {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    position: absolute;
    /* width: 190px; */
    top: -100px;
    left: 140px;
    background: #e3b496;
    border-radius: 6px;
    padding: 8px 18px;
    /* color: white; */
    color: rgb(92, 49, 49);
    transition: .5s ease-out;
}

.bodyText:hover {
    background: rgba(227, 180, 150, 0.7);
    /* background: rgba(52, 52, 52, 0.5); */
    transition: background .5s ease-out;
}

/* face */
.faceGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 55px;
    left: 140px;
    animation: faceGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
    /* height: 120px;
    width: 80px; */
}

.faceBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: 120px;
    width: 80px;
    top: 0px;
    left: 100.5px;
    cursor: pointer;
    z-index: 100;
}

.headGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 55px;
    left: 457px;
    animation: faceGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
    /* height: 120px;
    width: 80px; */
}

.headBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: 120px;
    width: 80px;
    top: 0px;
    left: 417.5px;
    cursor: pointer;
    z-index: 100;
}

@keyframes faceGlow {
    from {
        color: #fff;
        box-shadow: 0 0 50px 35px var(--glow);
    }
}

/* chest */
.chestGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 150px;
    left: 140px;
    animation: chestGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.chestBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: 40px;
    width: 80px;
    top: 128px;
    left: 100.5px;
    cursor: pointer;
    z-index: 100;
}

@keyframes chestGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 20px var(--glow);
    }
}

/* breast */
.breastGlow1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 185px;
    left: 105px;
    animation: breastGlow 1.5s ease-in-out infinite alternate;
}

.breastGlow2 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 185px;
    left: 175px;
    animation: breastGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.breastBtn1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 20%;
    height: 28px;
    width: 120px;
    top: 175px;
    left: 80px;
    cursor: pointer;
    z-index: 100;
}

@keyframes breastGlow {
    from {
        color: #fff;
        box-shadow: 0 0 20px 10px var(--glow);
    }
}

/* armpits */
.armpitsGlow1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .2px;
    width: .2px;
    top: 175px;
    left: 72.5px;
    animation: armpitsGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.armpitsGlow2 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .2px;
    width: .2px;
    top: 175px;
    left: 209px;
    animation: armpitsGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.armpitsBtn1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 162px;
    left: 200px;
    cursor: pointer;
    z-index: 100;
}

.armpitsBtn2 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 25px;
    width: 20px;
    top: 162px;
    left: 60px;
    cursor: pointer;
    z-index: 100;
}

@keyframes armpitsGlow {
    from {
        color: #fff;
        box-shadow: 0 0 15px 8px var(--glow);
    }
}

/* arms */
.armGlow1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 260px;
    left: 65px;
    animation: armGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.armGlow2 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 260px;
    left: 217px;
    animation: armGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.armGlow3 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 260px;
    left: 380px;
    animation: armGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.armGlow4 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 260px;
    left: 532px;
    animation: armGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.armBtn1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 65px;
    width: 20px;
    top: 230px;
    left: 56px;
    cursor: pointer;
    z-index: 100;
}

.armBtn2 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 65px;
    width: 20px;
    top: 230px;
    left: 206px;
    cursor: pointer;
    z-index: 100;
}

.armBtn3 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 65px;
    width: 20px;
    top: 230px;
    left: 372.5px;
    cursor: pointer;
    z-index: 100;
}

.armBtn4 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 65px;
    width: 20px;
    top: 230px;
    left: 522px;
    cursor: pointer;
    z-index: 100;
}


@keyframes armGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 20px var(--glow);
    }
}

/* abdomen */
.abGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 267px;
    left: 140px;
    animation: abGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.abBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 30%;
    height: 115px;
    width: 90px;
    top: 220px;
    left: 95px;
    cursor: pointer;
    z-index: 100;
}

@keyframes abGlow {
    from {
        color: #fff;
        box-shadow: 0 0 50px 35px var(--glow);
    }
}

/* back */
.backGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 190px;
    left: 457px;
    animation: backGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.backBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 30%;
    height: 180px;
    width: 100px;
    top: 115px;
    left: 407px;
    cursor: pointer;
    z-index: 100;
}

@keyframes backGlow {
    from {
        color: #fff;
        box-shadow: 0 0 60px 50px var(--glow);
    }
}

/* genitals */
.genGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 365px;
    left: 140px;
    animation: genGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.genBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 50px;
    width: 50px;
    top: 335px;
    left: 115px;
    cursor: pointer;
    z-index: 100;
}

@keyframes genGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 20px var(--glow);
    }
}

/* buttocks */
.buttGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 355px;
    left: 457px;
    animation: buttGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.buttBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 40%;
    height: 90px;
    width: 125px;
    top: 305px;
    left: 394px;
    cursor: pointer;
    z-index: 100;
}

@keyframes buttGlow {
    from {
        color: #fff;
        box-shadow: 0 0 60px 50px var(--glow);
    }
}

/* legs */

.legGlow1 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 505px;
    left: 115px;
    animation: legGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.legGlow2 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 505px;
    left: 165px;
    animation: legGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.legGlow3 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 505px;
    left: 432px;
    animation: legGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.legGlow4 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 505px;
    left: 482px;
    animation: legGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.legBtn12 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 20%;
    height: 295px;
    width: 80px;
    top: 395px;
    left: 100px;
    cursor: pointer;
    z-index: 100;
}

.legBtn34 {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 20%;
    height: 295px;
    width: 80px;
    top: 395px;
    left: 418px;
    cursor: pointer;
    z-index: 100;
}

@keyframes legGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 20px var(--glow);
    }
}

/* TRANSITIONS */
/* fade modal */
.fade-in {
    opacity: 1;
    animation: show 1.5s;
    z-index: 99;
}
  
@keyframes show {
    from {
      opacity: 0
    }
    to {
      opacity: 1
    }
}

.fade-out {
    opacity: 0;
    animation: hide 1.5s
    /* animation-fill-mode: forwards; */
}
  
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        display: none;
    }
}

.hide {
    /* visibility: hidden; */
    display: none;
    /* z-index: -1; */
    transition: display 1.5s ease-in-out;
}

/* FACE PAGE */
/* .bodyPage {
    position: relative;
    text-align: center;
    margin: 20px;
} */

.facePg {
    /* position: relative;
    text-align: center;
    margin: 20px; */
    /* width: 100%;  */
    position: relative;
    text-align: center;
    margin: 20px;
}

/* .mainFace {
    position: relative;
    width: 100%;
    height: auto;
    max-height: 100vh;
} */

.faceImg {
    width: 500px;
    /* height: auto;
    max-height: 100vh; */
}

.faceText {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    position: absolute;
    top: -20px;
    left: -80px;
    /*border: 2px solid black;*/
    /* background-color: rgba(92, 49, 49, 0.7); */
    background: #e3b496;
    border-radius: 6px;
    padding: 8px 18px;
    /* color: white; */
    color: rgb(92, 49, 49);
    transition: .5s ease-out;
}

.linkText {
    color: rgb(92, 49, 49);
    text-decoration: none;
}

.faceText:hover {
    background: rgba(227, 180, 150, 0.7);
    /* background: rgba(52, 52, 52, 0.5); */
    transition: background .5s ease-out;
}

.areasText {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    position: absolute;
    width: 190px;
    top: -20px;
    left: 440px;
    /*border: 2px solid black;*/
    background: #e3b496;
    border-radius: 6px;
    padding: 8px 18px;
    color: rgb(92, 49, 49);
    /* color: white; */
    transition: .5s ease-out;
}

.areasText:hover {
    /* background-color: rgba(92, 49, 49, 1); */
    background: rgba(227, 180, 150, 0.7);
    /* background: rgba(52, 52, 52, 0.5); */
    transition: background .5s ease-out;
}

/* half */
.half {
    position: absolute;
    border: solid 2px black;
    height: 500px;
    width: 0.1px;
    top: 50px;
    left: 261px;
    cursor: pointer;
    z-index: 100;
}

/* eyes */
.eyeGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 268px;
    left: 337px;
    animation: eyeGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.eyeBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 50%;
    height: 60px;
    width: 100px;
    top: 235px;
    left: 290px;
    cursor: pointer;
    z-index: 100;
}

@keyframes eyeGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 20px var(--glow);
    }
}

/* scalp */
.scalpGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 90px;
    left: 317px;
    animation: scalpGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.scalpBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 30%;
    height: 70px;
    width: 130px;
    top: 50px;
    left: 260px;
    cursor: pointer;
    z-index: 100;
}

@keyframes scalpGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 20px var(--glow);
    }
}

/* forehead */
.foreGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .1px;
    width: .3px;
    top: 170px;
    left: 337px;
    animation: foreGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.foreBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 30%;
    height: 70px;
    width: 160px;
    top: 140px;
    left: 260px;
    cursor: pointer;
    z-index: 100;
}

@keyframes foreGlow {
    from {
        color: #fff;
        box-shadow: 0 0 40px 30px var(--glow);
    }
}

/* cheeks */
.cheekGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .1px;
    width: .3px;
    top: 340px;
    left: 360px;
    animation: cheekGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.cheekBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 20%;
    height: 70px;
    width: 110px;
    top: 305px;
    left: 300px;
    cursor: pointer;
    z-index: 100;
}

@keyframes cheekGlow {
    from {
        color: #fff;
        box-shadow: 0 0 30px 25px var(--glow);
    }
}

/* nose */
.noseGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .3px;
    width: .1px;
    top: 340px;
    left: 280px;
    animation: noseGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.noseBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 10%;
    height: 95px;
    width: 30px;
    top: 270px;
    left: 260px;
    cursor: pointer;
    z-index: 100;
}

@keyframes noseGlow {
    from {
        color: #fff;
        box-shadow: 0 0 20px 15px var(--glow);
    }
}

/* lips */
.lipsGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .1px;
    width: .3px;
    top: 420px;
    left: 280px;
    animation: lipsGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.lipsBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 30%;
    height: 40px;
    width: 50px;
    top: 400px;
    left: 260px;
    cursor: pointer;
    z-index: 100;
}

@keyframes lipsGlow {
    from {
        color: #fff;
        box-shadow: 0 0 20px 15px var(--glow);
    }
}

/* chin */
.chinGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .1px;
    width: .3px;
    top: 493px;
    left: 290px;
    animation: chinGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.chinBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 40%;
    height: 70px;
    width: 50px;
    top: 460px;
    left: 270px;
    cursor: pointer;
    z-index: 100;
}

@keyframes chinGlow {
    from {
        color: #fff;
        box-shadow: 0 0 22px 18px var(--glow);
    }
}

/* jaw */
.jawGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .1px;
    width: .3px;
    top: 453px;
    left: 370px;
    animation: jawGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.jawBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 40%;
    height: 35px;
    width: 110px;
    top: 435px;
    left: 310px;
    cursor: pointer;
    z-index: 100;
    transform: rotate(130deg);
}

@keyframes jawGlow {
    from {
        color: #fff;
        box-shadow: 0 0 22px 18px var(--glow);
    }
}


/* neck */
.neckGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: .1px;
    width: .3px;
    top: 590px;
    left: 263px;
    animation: neckGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.neckBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 20%;
    height: 115px;
    width: 190px;
    top: 535px;
    left: 170px;
    cursor: pointer;
    z-index: 100;
}

@keyframes neckGlow {
    from {
        color: #fff;
        box-shadow: 0 0 60px 50px var(--glow);
    }
}

/* half face */
.halfGlow {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 45%;
    height: 300px;
    width: .01px;
    top: 133px;
    left: 180px;
    animation: halfGlow 1.5s ease-in-out infinite alternate;
    z-index: 99;
}

.halfBtn {
    position: absolute;
    /* border: solid 1px black; */
    border-radius: 90% 10% 10% 99%;
    height: 480px;
    width: 160px;
    top: 50px;
    left: 100px;
    cursor: pointer;
    z-index: 100;
}

@keyframes halfGlow {
    from {
        color: #fff;
        box-shadow: 
            0 0 90px 65px var(--glow);
            /* 0 0 10px rgba(229, 162, 233, 0.6) inset, 
            0 0 20px rgba(229, 162, 233, 0.6) inset, 
            0 0 30px rgba(229, 162, 233, 0.6) inset, 
            0 0 40px rgba(229, 162, 233, 0.6) inset, 
            0 0 50px rgba(229, 162, 233, 0.6) inset, 
            0 0 60px rgba(229, 162, 233, 0.6) inset, 
            0 0 70px rgba(229, 162, 233, 0.6) inset, 
            0 0 80px rgba(229, 162, 233, 0.6) inset; */
    }
}



/* Media Queries */
@media only screen and (max-width: 900px) {
    .faceText {
        top: -40px;
        left: 30px;
    }
    
    .areasText {
        width: 210px;
        top: -40px;
        left: 330px;
    }
}

@media only screen and (max-width: 669px) {
    .faceText {
        top: -40px;
        left: 30px;
        font-size: 30px;
    }
    
    .areasText {
        width: 120px;
        top: -80px;
        left: 330px;
        font-size: 30px;
    }
}

@media only screen and (max-width: 615px) {
    .bodyPage {
        zoom: 95%;
    }
}

@media only screen and (max-width: 592px) {
    .bodyPage {
        zoom: 90%;
    }
}

@media only screen and (max-width: 551px) {
    .bodyPage {
        zoom: 80%;
    }
}

@media only screen and (max-width: 490px) {
    .bodyPage {
        zoom: 65%;
    }
}

@media only screen and (max-width: 400px) {
    .bodyPage {
        zoom: 50%;
    }
}

@media only screen and (max-width: 316px) {
    .bodyPage {
        zoom: 40%;
    }
}

@media only screen and (max-width: 490px) {
    .facePg {
        zoom: 85%;
    }
}

@media only screen and (max-width: 414px) {
    .facePg {
        zoom: 65%;
    }
}

@media only screen and (max-width: 300px) {
    .facePg {
        zoom: 50%;
    }
}

@media only screen and (max-width: 240px) {
    .facePg {
        zoom: 40%;
    }
}

@media only screen and (max-width: 188px) {
    .facePg {
        zoom: 30%;
    }
}